body {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    width: 930px;
    margin: 0 auto;
    padding: 0 10px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 11px;
}
h1 span {
    font-size: 0.7em;
    color: #777;
}

#controls {
    margin-top: 10px;
    padding-left: 30px;
}
#controls input[type=text] {
    padding: 3px 7px;
    font-size: 14px;
}


#map {
    height: 670px;
    width: 930px;
    margin: 20px auto 0;
}

#times {
    width: 930px;
    margin: 0 auto;
}
#times svg {
    font: 12px Helvetica Neue, Helvetica, sans-serif;
}
#times .rightbutton {
    margin-right: 27px;
    cursor: pointer;
    display: inline-block;
    float: right;
}
#times .times-exam-count {
    font-size: 16px;
}
.delimiter .start,
.delimiter .end {
    fill: #777;
}

.zoom {
    fill: transparent;
    cursor: pointer;
}

.axis line,
.axis path,
.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}
.y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}
#times .line circle {
    opacity: 0.1;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}
